body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #F2A8EC;
  border-radius: 2px;
  max-width: 800px;
  vertical-align: middle;
}

.navbar a {
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  vertical-align: middle;
}

.navbar a:hover {
  color: #aaa;
}

